.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  overflow: hidden;
}
.imgcontainer {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 200px;
  background-image: url("./hangman.png");
}
